.services {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid red;
    position: relative;
    width: 400px;
    height: 600px;
}

.service {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: service-show 18s infinite;
}

.service.video {
    opacity: 0;
}

.service.phone {
    opacity: 0;
    animation-delay: 6s;
}

.service.computers {
    opacity: 0;
    animation-delay: 12s;
}


@keyframes service-show {
    3% {  opacity: 1; }
    30% {  opacity: 1; }
    36% {  opacity: 0; }
    97% {  opacity: 0; }
}
